.target{
  height: 100px;
  width: 100px;
  border-radius: 100px;
  background-color: #707070;
  position: fixed;
}

.half{
  display: flex;
  flex:1;
}

.page {
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-size: cover;
  background: url("../../../../../assets/bike.png") no-repeat 50% 50%;
}
