<!--
  Generated template for the DilemmePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>

  <button (click)="goTo()">GOTO</button>

    <ion-slides pager *ngIf="showIntro" class="intro">
        <ion-slide *ngFor="let t of data.intro; let i = index">
            <h1 *ngIf="t.hasOwnProperty('title')">{{t.title}}</h1>
            <p>{{t.text}}</p>

            <button *ngIf="i === data.intro.length-1" ion-button round icon-end color="primary" (click)="endIntro()">
                Continuer
                <ion-icon name="arrow-forward"></ion-icon>
            </button>
        </ion-slide>
    </ion-slides>
    <div *ngIf="!hasAnswered && showContent" class="content">
        <p class="date-txt" text-left>{{data.time}}</p>
        <p class="main-txt" style="text-align: justify;line-height:18px;">
            {{data.text}}
        </p>

        <ion-list radio-group [(ngModel)]="choice">
            <ion-item *ngFor="let c of data['choices']; let i = index">
                <ion-label>{{c.text}}</ion-label>
                <ion-radio [value]="i"></ion-radio>
            </ion-item>

            <div text-center *ngIf="choice != null">
                <button ion-button round (click)="answer()" class="btn-ok">
                    J'ai choisi
                </button>
            </div>

        </ion-list>
    </div>

    <div *ngIf="hasAnswered" text-center class="outro">
        <ion-card padding class="cardd">
            <p class="result">{{result}}</p>
            <ul class="stats">
                <li *ngFor="let s of stats"> {{s.type}} {{s.value > 0 ? '+'+s.value : s.value}}</li>
            </ul>
        </ion-card>
        <button ion-button round *ngIf="!isReady" (click)="ready()">
            Prêt pour la suite ?
        </button>

        <div text-center *ngIf="isReady" class="rdy">
            <ion-item-divider></ion-item-divider>
            <br>
            <p>En attente des autres joueurs</p>
            <ion-spinner name="crescent"></ion-spinner>
        </div>
    </div>

</ion-content>
