<!--
  Generated template for the DilemmePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Dilemme</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <div *ngIf="!hasAnswered">
        <h4 text-center>{{data.text}} Quel choix décides-tu de faire ???</h4>

        <ion-list radio-group [(ngModel)]="choice">
            <ion-item *ngFor="let c of data['choices']; let i = index">
                <ion-label>{{c.text}}</ion-label>
                <ion-radio [value]="i"></ion-radio>
            </ion-item>

            <div text-center *ngIf="choice != null">
                <button ion-button (click)="answer()">
                    OK
                </button>
            </div>

        </ion-list>
    </div>

    <div *ngIf="hasAnswered" text-center>
        <h4>{{result}}</h4>
        <button ion-button round *ngIf="!isReady" (click)="ready()">
            Prêt pour la suite ?
        </button>
        <div text-center *ngIf="isReady">
            <p>En attente des autres joueurs</p>
            <ion-spinner name="crescent"></ion-spinner>
        </div>
    </div>

</ion-content>
