.intro {
  p {
    line-height: 30px;
    text-align: justify;
  }

  h1 {
    line-height: 35px;
  }

  button {
    margin-top: 15px;
  }
}


.main-txt {
  line-height: 25px;
  font-size: 17px;
  text-align: center;
  text-justify: inter-word;
}


.content {
  .date-txt {
    font-weight: 500;
    padding-top: 5px;
    padding-bottom: 20px;
    font-size: 20px;
  }

  .btn-ok {
    margin-top: 25px;
  }

  .main-txt {
    font-size: 17px;
    line-height: 25px;
    color: #4e4e4e;
  }
}

.icn{
  font-size: 25px;
  text-align: center;


  img{
    height:24px;
    width:auto;
    margin: 0 auto;
    margin-bottom: 9px;
  }
}

.wsh {
  margin: 40px 0;
  width:100%;
  padding:15px 10px;
  border: 0.7px solid #0053ab;
  border-radius: 3px;
  box-shadow: 0 10px 6px -6px rgba(119, 119, 119,0.3);
  p {
    line-height: 24px;
    font-size: 18px;
    text-align: center;
  }
  position: relative;

  .close{
    position: absolute;
    right:0px;
    top:0px;
    height:30px;
    width: 30px;
    padding-top: 3px;
    font-size: 19px;
    background-color: #d6d6d6;
    border-radius: 50%;
    border-top-right-radius: 3px;
  }
}

.outro {


  ul {
    padding-left: unset;
    margin:unset;
  }

  li {
    font-size: 17px;
    list-style: none;
    padding: 3px 0;
  }

  .rdy {
    padding: 20px 15px;
    font-size: 21px;
    font-weight: 400;

    .cardd {
      padding: 30px 10px;
    }

    p {
      font-size: 18px;
    }
  }

}

.slide-out-bck-center {
  -webkit-animation: slide-out-bck-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: slide-out-bck-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes slide-out-bck-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(-1100px);
    transform: translateZ(-1100px);
    opacity: 0;
    display: none;
  }
}

