.intro {
  p {
    line-height: 30px;
    text-align: justify;
  }

  h1 {
    line-height: 35px;
  }

  button {
    margin-top: 15px;
  }
}


.main-txt {
  line-height: 25px;
  font-size: 17px;
  text-align: center;
  text-justify: inter-word;
}


.content {
  .date-txt{
    font-weight: 500;
    padding-top:5px;
    padding-bottom: 20px;
    font-size: 20px;
  }

  .btn-ok {
    margin-top: 25px;
  }

  .main-txt {
    font-size: 17px;
    line-height: 25px;
    color: #4e4e4e;
  }
}

.outro {

  .result{
    line-height:21px;
    font-size:18px;
    text-align: justify;
  }

  ul{
    border-top:1px solid #dedede;
    padding-left:unset;
    padding-top:20px;
  }

  li{
    font-size:17px;
    list-style: none;
  }

  .rdy {
    padding: 20px 15px;
    font-size: 21px;
    font-weight: 400;

    .cardd {
      padding: 30px 10px;
    }

    p {
      font-size: 18px;
    }
  }

}