.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #E3D0B8;
}

.half {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1{
  font-family: "Segoe UI";
  font-size: 40px;
  color: #707070;
  text-align: center;
}

p{
  text-align: center;
  font-family: "Segoe UI";
  font-size: 18px;
  color: #707070;
}

button{
  height: 18%;
  width: 80%;
  border-radius: 45px;
  background-color: white;
}
