
div.main-container {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;

  div.section {
    width: 100%;
    position: absolute;
    left: 0;
  }

  div.first-section {
    top: 0;
    height: 25%;
  }

  div.second-section {
    top: 25%;
    height: 50%;
  }

  div.third-section {
    top: 75%;
    height: 25%;
  }

  div.corner-section {

  }

}