
div.main-container {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;

  div.section {
    width: 100%;
    position: absolute;
    left: 0;
  }

  div.first-section {
    top: 0;
    height: 20%;
  }

  div.second-section {
    top: 20%;
    height: 60%;
  }

  div.third-section {
    top: 80%;
    height: 20%;
  }

}