<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
    <title>Table 👌😂</title>
</head>
<body style="height: 100vh">

<style>
    .puzzle {
        box-sizing: border-box;
        display: none;
        background-color: #73a5ad;
        position: fixed;
        top: 50%;
        left: 50%;
        width: 76em;
        margin-left: -38em;
        height: 60em;
        margin-top: -30em;
        border: 1px solid #ccc;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 20px;
        padding-left: 70px;
    }

    .puzzle h1{
        color:#fff;
        margin-bottom: 10px;
    }

    #puzzle-parent {

        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .puzzle-child {
        flex: 0 0 32%;
        margin-bottom: 9px;
        background-color: unset;
    }

    .puzzle-child img {
        height: auto;
        width: 100%;
    }

    #close-puzzle {
        float: right;
        font-size: 40px;
        color: #007aff;
        border: solid 3px #007aff;
        border-radius: 50%;
        height: 80px;
        background-color: #fff;
        width: 80px;
        line-height: 40px;
        position: relative;
        top: -45px;
        left: 45px;
    }

    #close-puzzle:focus {
        background-color: #F5F5F5;
        outline: unset;
    }

    #puzzle-result{
        display: none;
    }

    .slide-in-fwd-center {
        animation: slide-in-fwd-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    @keyframes slide-in-fwd-center {
        0% {
            transform: translateZ(-1400px);
            opacity: 0;
        }
        100% {
            transform: translateZ(0);
            opacity: 1;
        }
    }
</style>

<div id="puzzle" class="puzzle" style="z-index: 10001">
    <button id="close-puzzle"> x</button>
    <h1 id="puzzle-title">Puzzle collaboratif</h1>
    <div id="puzzle-parent">
    </div>
    <div id="puzzle-result">
        <h1> Féliciations </h1>
        <h2>Vous avez completé le puzzle !</h2>
        <img class="slide-in-fwd-center" id="result-img" style="width:80%" src="res/puzzle1/full.jpg"/>
    </div>
</div>

<canvas id="trueGame" style="display: none;position: absolute;z-index: 1000;left: 0;top: 0;"></canvas>

<canvas id="gamer" style="display: none;position: absolute;z-index: 1001;left: 0;top: 0;"></canvas>

<div class="header" id="header">

</div>

<div class="start-game" id="start-btn">
    <div class="reversed-title">
        <p class="title">L'aventure de Jean Naud</p>
        <p class="desc">1 à 4 joueurs</p>
    </div>
    <div class="regular-title">
        <p class="title">L'aventure de Jean Naud</p>
        <p class="desc">1 à 4 joueurs</p>
    </div>
</div>

<div class="connect" id="connect">

    <div id="code-list">
        <div class="connected-block" id="connected_1"><span class="player-connected">Joueur 1</span></div>
        <div class="connected-block" id="connected_2"><span class="player-connected">Joueur 2</span></div>
        <div class="connected-block" id="connected_3"><span class="player-connected">Joueur 3</span></div>
        <div class="connected-block" id="connected_4"><span class="player-connected">Joueur 4</span></div>
    </div>

    <div class="ready">
        <button id="ready-btn"></button>
    </div>
</div>

<div class="main-container-board" id="main-container-board">

    <canvas id="jean-p1"></canvas>
    <div class="substract" id="substract-chicken-p1"></div>
    <div class="substract" id="substract-mood-p1"></div>
    <div id="bike-p1"></div>
    <img id="water-p1" src="res/water.png" height="100" />
    <div id="water-level-p1"><div id="water-level-jauge-p1"></div></div>

    <canvas id="jean-p2"></canvas>
    <div class="substract" id="substract-chicken-p2"></div>
    <div class="substract" id="substract-mood-p2"></div>
    <div id="bike-p2"></div>
    <img id="water-p2" src="res/water.png" height="100px" />
    <div id="water-level-p2"><div id="water-level-jauge-p2"></div></div>

    <canvas id="jean-p3"></canvas>
    <div class="substract" id="substract-chicken-p3"></div>
    <div class="substract" id="substract-mood-p3"></div>
    <div id="bike-p3"></div>
    <img id="water-p3" src="res/water.png" height="100px" />
    <div id="water-level-p3"><div id="water-level-jauge-p3"></div></div>

    <canvas id="jean-p4"></canvas>
    <div class="substract" id="substract-chicken-p4"></div>
    <div class="substract" id="substract-mood-p4"></div>
    <div id="bike-p4"></div>
    <img id="water-p4" src="res/water.png" height="100px" />
    <div id="water-level-p4"><div id="water-level-jauge-p4"></div></div>

    <div class="section first-section">
        <div class="inner-section corner-section" id="section-1">
        </div>
        <div class="inner-section long-edge" id="section-2">
            <div id="ration-container-p2" class="ration-zone ration-zone-p2"></div>
            <img class="picto picto-p2 smartphone-picto" src="res/smartphone.svg" height="40%"/>
        </div>
        <div class="inner-section corner-section" id="section-3">

        </div>
    </div>
    <div class="section second-section">
        <div class="inner-section short-edge" id="section-4">
            <div id="ration-container-p3" class="ration-zone ration-zone-p3"></div>
            <img class="picto picto-p3 smartphone-picto" src="res/smartphone.svg" height="20%"/>
        </div>
        <div class="inner-section center-section" id="section-5">
            <div id="app" style="width: 100%; height: 100%;"></div>
        </div>
        <div class="inner-section short-edge" id="section-6">
            <div id="ration-container-p4" class="ration-zone ration-zone-p4"></div>
            <img class="picto picto-p4 smartphone-picto" src="res/smartphone.svg" height="20%"/>
        </div>
    </div>
    <div class="section third-section">
        <div class="inner-section corner-section" id="section-7">

        </div>
        <div class="inner-section long-edge" id="section-8">
            <div id="ration-container-p1" class="ration-zone ration-zone-p1"></div>
            <img class="picto picto-p1 smartphone-picto" src="res/smartphone.svg" height="40%"/>
        </div>

        <div class="inner-section corner-section" id="section-9">
        </div>
    </div>
</div>

</body>

</html>
