<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <title>Table 👌😂</title>
</head>
<body>

<div class="header" id="header">
    <div class="jumbotron jumbotron-fluid text-center bg-danger text-white">
        <div class="container">
            <h1 class="display-4">L'aventure de Michel</h1>
            <p class="lead">Êtes-vous prêt à revivre l'histoire extraordinaire de cet homme ? </p>
        </div>
    </div>
</div>

<div class="start-game" id="start-btn">
    <p class="title">Commencer une partie</p>
    <p class="desc">1 à 4 joueurs</p>
</div>

<div class="connect" id="connect">
    <div class="title">
        Connectez vos smartphones en prenant en photo les QR codes
        <br>
        (pour l'instant faut juste cliquer sur un des liens ci-dessous t'as vu)

    </div>
    <div class="codes">
        <ul id="code-list">
        </ul>
    </div>
</div>


<div id="app"></div>

<div id="fab">
    Montrer / Cacher la carte
</div>


<div class="main-container-board" id="main-container-board">
    <div class="section first-section">
        <div class="inner-section corner-section">
        </div>
        <div class="inner-section long-edge">
            <img class="picto picto-p3" id="chicken-p3" src="res/chicken.svg" height="20%" />
            <img class="picto picto-p3" id="water-p3" src="res/water.svg" height="20%" />
            <img class="picto picto-p3" id="energy-p3" src="res/energy.svg" height="20%" />
            <img class="picto picto-p3" id="sun-p3" src="res/sun.svg" height="20%" />
            <img class="picto picto-p3" id="thermometer-p3" src="res/thermometer.svg" height="20%" />
            <img class="picto picto-p3" id="wind-p3" src="res/wind.svg" height="20%" />
            <div class="ration-zone ration-zone-p3"></div>
        </div>
        <div class="inner-section corner-section">

        </div>
    </div>
    <div class="section second-section">
        <div class="inner-section short-edge">
            <img class="picto picto-p2" id="chicken-p2" src="res/chicken.svg" height="10%" />
            <img class="picto picto-p2" id="water-p2" src="res/water.svg" height="10%" />
            <img class="picto picto-p2" id="energy-p2" src="res/energy.svg" height="10%" />
            <img class="picto picto-p2" id="sun-p2" src="res/sun.svg" height="10%" />
            <img class="picto picto-p2" id="thermometer-p2" src="res/thermometer.svg" height="10%" />
            <img class="picto picto-p2" id="wind-p2" src="res/wind.svg" height="10%" />
            <div class="ration-zone ration-zone-p2"></div>
        </div>
        <div class="inner-section center-section">

        </div>
        <div class="inner-section short-edge">
            <img class="picto picto-p4" id="chicken-p4" src="res/chicken.svg" height="10%" />
            <img class="picto picto-p4" id="water-p4" src="res/water.svg" height="10%" />
            <img class="picto picto-p4" id="energy-p4" src="res/energy.svg" height="10%" />
            <img class="picto picto-p4" id="sun-p4" src="res/sun.svg" height="10%" />
            <img class="picto picto-p4" id="thermometer-p4" src="res/thermometer.svg" height="10%" />
            <img class="picto picto-p4" id="wind-p4" src="res/wind.svg" height="10%" />
            <div class="ration-zone ration-zone-p4"></div>
        </div>
    </div>
    <div class="section third-section">
        <div class="inner-section corner-section">

        </div>
        <div class="inner-section long-edge">
            <img class="picto" id="chicken-p1" src="res/chicken.svg" height="20%" />
            <img class="picto" id="water-p1" src="res/water.svg" height="20%" />
            <img class="picto" id="energy-p1" src="res/energy.svg" height="20%" />
            <img class="picto" id="sun-p1" src="res/sun.svg" height="20%" />
            <img class="picto" id="thermometer-p1" src="res/thermometer.svg" height="20%" />
            <img class="picto" id="wind-p1" src="res/wind.svg" height="20%" />
            <div class="ration-zone ration-zone-p1"></div>
        </div>
        <div class="inner-section corner-section">

        </div>
    </div>
</div>


</body>

</html>
