<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
    <script src="node_modules/datamaps/dist/datamaps.world.min.js"></script>    <title>Table 👌😂</title>
</head>
<body>
<script>

</script>
<div class="header" id="header">
    <div class="jumbotron jumbotron-fluid text-center bg-danger text-white">
        <div class="container">
            <h1 class="display-4">L'aventure de Michel</h1>
            <p class="lead">Êtes-vous prêt à revivre l'histoire extraordinaire de cet homme ? </p>
        </div>
    </div>
</div>

<div class="start-game" id="start-btn">
    <p class="title">Commencer une partie</p>
    <p class="desc">1 à 4 joueurs</p>
</div>
<div id="mapAfrica" style="position: relative; width: 500px; height: 300px;"></div>

<div class="connect" id="connect">
    <div class="title">
        Entrer un de ces codes dans l'application pour se connecter au serveur :
    </div>
    <div class="codes">
        <ul id="code-list">
        </ul>
    </div>

    <div class="ready">
        <button id="ready-btn">Commencer le jeu</button><br>
        <button id="next-btn">Etape suivante</button>
    </div>
</div>


<div id="fab">
    Montrer / Cacher la carte
</div>


<div class="main-container-board" id="main-container-board">
    <div class="section first-section">
        <div class="inner-section corner-section">
        </div>
        <div class="inner-section long-edge">
            <img class="picto picto-p3" id="chicken-p3" src="res/chicken.svg" height="20%" />
            <div class="level-outline-p3-right" id="chicken-outline-p3">
                <div class="level-p3" id="chicken-level-p3"></div>
            </div>
            <img class="picto picto-p3" id="water-p3" src="res/water.svg" height="20%" />
            <div class="level-outline-p3-right" id="water-outline-p3">
                <div class="level-p3" id="water-level-p3"></div>
            </div>
            <img class="picto picto-p3" id="energy-p3" src="res/energy.svg" height="20%" />
            <div class="level-outline-p3-right" id="energy-outline-p3">
                <div class="level-p3" id="energy-level-p3"></div>
            </div>

            <img class="picto picto-p3" id="mood-p3" src="res/mood.svg" height="20%" />
            <div class="level-outline-p3-left" id="mood-outline-p3">
                <div class="level-p3" id="mood-level-p3"></div>
            </div>
            <img class="picto picto-p3" id="thermometer-p3" src="res/thermometer.svg" height="20%" />
            <div class="level-outline-p3-left" id="thermometer-outline-p3">
                <div class="level-p3" id="thermometer-level-p3"></div>
            </div>

            <img class="picto picto-p3" id="bike-p3" src="res/bike.svg" height="20%" />
            <div class="level-outline-p3-left" id="bike-outline-p3">
                <div class="level-p3" id="bike-level-p3"></div>
            </div>
            <div id="ration-container-p3" class="ration-zone ration-zone-p3"></div>
        </div>
        <div class="inner-section corner-section">

        </div>
    </div>
    <div class="section second-section">
        <div class="inner-section short-edge">
            <img class="picto picto-p2" id="chicken-p2" src="res/chicken.svg" height="10%" />
            <div class="level-outline-p2-right" id="chicken-outline-p2">
                <div class="level-p2" id="chicken-level-p2"></div>
            </div>
            <img class="picto picto-p2" id="water-p2" src="res/water.svg" height="10%" />
            <div class="level-outline-p2-right" id="water-outline-p2">
                <div class="level-p2" id="water-level-p2"></div>
            </div>
            <img class="picto picto-p2" id="energy-p2" src="res/energy.svg" height="10%" />
            <div class="level-outline-p2-right" id="energy-outline-p2">
                <div class="level-p2" id="energy-level-p2"></div>
            </div>

            <img class="picto picto-p2" id="mood-p2" src="res/mood.svg" height="10%" />
            <div class="level-outline-p2-left" id="mood-outline-p2">
                <div class="level-p2" id="mood-level-p2"></div>
            </div>
            <img class="picto picto-p2" id="thermometer-p2" src="res/thermometer.svg" height="10%" />
            <div class="level-outline-p2-left" id="thermometer-outline-p2">
                <div class="level-p2" id="thermometer-level-p2"></div>
            </div>

            <img class="picto picto-p2" id="bike-p2" src="res/bike.svg" height="10%" />
            <div class="level-outline-p2-left" id="bike-outline-p2">
                <div class="level-p2" id="bike-level-p2"></div>
            </div>
            <div class="ration-zone ration-zone-p2"></div>
        </div>
        <div class="inner-section center-section">
            <div id="map" style="width: 100%; height: 100%;">
            </div>
        </div>
        <div class="inner-section short-edge">
            <img class="picto picto-p4" id="chicken-p4" src="res/chicken.svg" height="10%" />
            <div class="level-outline-p4-right" id="chicken-outline-p4">
                <div class="level-p4" id="chicken-level-p4"></div>
            </div>
            <img class="picto picto-p4" id="water-p4" src="res/water.svg" height="10%" />
            <div class="level-outline-p4-right" id="water-outline-p4">
                <div class="level-p4" id="water-level-p4"></div>
            </div>
            <img class="picto picto-p4" id="energy-p4" src="res/energy.svg" height="10%" />
            <div class="level-outline-p4-right" id="energy-outline-p4">
                <div class="level-p4" id="energy-level-p4"></div>
            </div>

            <img class="picto picto-p4" id="mood-p4" src="res/mood.svg" height="10%" />
            <div class="level-outline-p4-left" id="mood-outline-p4">
                <div class="level-p4" id="mood-level-p4"></div>
            </div>
            <img class="picto picto-p4" id="thermometer-p4" src="res/thermometer.svg" height="10%" />
            <div class="level-outline-p4-left" id="thermometer-outline-p4">
                <div class="level-p4" id="thermometer-level-p4"></div>
            </div>

            <img class="picto picto-p4" id="bike-p4" src="res/bike.svg" height="10%" />
            <div class="level-outline-p4-left" id="bike-outline-p4">
                <div class="level-p4" id="bike-level-p4"></div>
            </div>
            <div class="ration-zone ration-zone-p4"></div>
        </div>
    </div>
    <div class="section third-section">
        <div class="inner-section corner-section">

        </div>
        <div class="inner-section long-edge">
            <img class="picto" id="chicken-p1" src="res/chicken.svg" height="20%" />
            <div class="level-outline-p1-right" id="chicken-outline-p1">
                <div class="level-p1" id="chicken-level-p1"></div>
            </div>
            <img class="picto" id="water-p1" src="res/water.svg" height="20%" />
            <div class="level-outline-p1-right" id="water-outline-p1">
                <div class="level-p1" id="water-level-p1"></div>
            </div>
            <img class="picto" id="energy-p1" src="res/energy.svg" height="20%" />
            <div class="level-outline-p1-right" id="energy-outline-p1">
                <div class="level-p1" id="energy-level-p1"></div>
            </div>

            <img class="picto" id="mood-p1" src="res/mood.svg" height="20%" />
            <div class="level-outline-p1-left" id="mood-outline-p1">
                <div class="level-p1" id="mood-level-p1"></div>
            </div>
            <img class="picto" id="thermometer-p1" src="res/thermometer.svg" height="20%" />
            <div class="level-outline-p1-left" id="thermometer-outline-p1">
                <div class="level-p1" id="thermometer-level-p1"></div>
            </div>

            <img class="picto" id="bike-p1" src="res/bike.svg" height="20%" />
            <div class="level-outline-p1-left" id="bike-outline-p1">
                <div class="level-p1" id="bike-level-p1"></div>
            </div>
            <div class="ration-zone ration-zone-p1"></div>
        </div>
        <div class="inner-section corner-section">

        </div>
    </div>
</div>


</body>

</html>
