
$colorP1: #a22b28;
$colorP2: #393bb5;
$colorP3: #007207;
$colorP4: #b8b918;

$background: #fff;
$secondary: #000;

img, div {
  user-select: none;
  user-drag: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

body {
  overflow-y: hidden;
}

div {
  box-sizing: content-box;
}

@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  -moz-transform: $property;
  transform: $property;
}

#map {
  left: 0;
}

.puzzlewesh{
  color:red;
}

div.main-container-board {
  height: 100%;
  width: 100%;
  display: none;
  margin-right: auto;
  margin-left: auto;

  canvas[id^=jean-p], canvas[id^=bike-p] {
    display: none;
    position: absolute;
    border: 1px solid;
  }

  #jean-p2 {
    @include transform(rotate(180deg));
  }

  #jean-p3 {
    @include transform(rotate(90deg));
  }

  #jean-p4 {
    @include transform(rotate(270deg));
  }

  div.section {
    width: 100%;
    position: absolute;
    left: 0;
  }

  div.first-section {
    top: 0;
    height: 25%;
  }

  div.second-section {
    top: 25%;
    height: 49.5%;
  }

  div.third-section {
    top: 74.5%;
    height: 25%;
  }

  div.inner-section {
    display: inline-block;
    height: 100%;
  }

  div.corner-section {
    width: 24.5%;
  }

  img.picto {
    position: absolute;
  }




  div.level-outline-p1-right, div.level-outline-p1-left {
    border: 1px solid $secondary;
    height: 20%;
    width: 2%;
    position: absolute;
    z-index: 10;
  }

  div.level-outline-p1-right {
    right: 3%;
    background-color: green;
  }

  div.level-outline-p1-left {
    left: 3%;
    background-color: green;
  }

  div.level-p1 {
    background-color: $background;
    width: 100%;
  }

  #chicken-outline-p1, #mood-outline-p1 {
    top: 5%;
    #chicken-level-p1, #mood-level-p1 {
      height: 0;
    }
  }

  #water-outline-p1, #thermometer-outline-p1 {
    top: 30%;
    #water-level-p1, #thermometer-level-p1 {
      height: 0;
    }
  }

  #energy-outline-p1, #bike-outline-p1 {
    top: 55%;
    #energy-level-p1, #bike-level-p1 {
      height: 0;
    }
  }


  div.level-outline-p3-right, div.level-outline-p3-left {
    @include transform(rotate(90deg));
    border: 1px solid $secondary;
    height: 10%;
    width: 4%;
    position: absolute;
    z-index: 10;
  }

  div.level-outline-p3-right {
    bottom: 3%;
    background-color: green;
  }

  div.level-outline-p3-left {
    top: 3%;
    background-color: green;
  }

  div.level-p3 {
    background-color: $background;
    width: 100%;
  }

  #chicken-outline-p3, #mood-outline-p3 {
    right: 7%;
    #chicken-level-p3, #mood-level-p3 {
      height: 0;
    }
  }

  #water-outline-p3, #thermometer-outline-p3 {
    right: 27%;
    #water-level-p3, #thermometer-level-p3 {
      height: 0;
    }
  }

  #energy-outline-p3, #bike-outline-p3 {
    right: 47%;
    #energy-level-p3, #bike-level-p3 {
      height: 0;
    }
  }



  div.level-outline-p2-right, div.level-outline-p2-left {
    @include transform(rotate(180deg));
    border: 1px solid $secondary;
    height: 20%;
    width: 2%;
    position: absolute;
    z-index: 10;
  }

  div.level-outline-p2-right {
    right: 3%;
    background-color: green;
  }

  div.level-outline-p2-left {
    left: 3%;
    background-color: green;
  }

  div.level-p2 {
    background-color: $background;
    width: 100%;
  }

  div.substract-level {
    position: absolute;
    background-color: white;
    width: 100%;
    animation-name: substract;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    height: 0;
  }

  div[id^=substract-] {
    position: absolute;
    border: none;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-color: red;
    opacity: 0;
  }

  div[id^=substract-mood-p] {
    background-color: transparent;
  }

  #chicken-outline-p2, #mood-outline-p2 {
    bottom: 5%;
    #chicken-level-p2, #mood-level-p2 {
      height: 0;
    }
  }

  #water-outline-p2, #thermometer-outline-p2 {
    bottom: 30%;
    #water-level-p2, #thermometer-level-p2 {
      height: 0;
    }
  }

  #energy-outline-p2, #bike-outline-p2 {
    bottom: 55%;
    #energy-level-p2, #bike-level-p2 {
      height: 0;
    }
  }


  img.smartphone-picto {
    animation-duration: 1s;
    animation-iteration-count: infinite;
    display: none;
  }


  div.level-outline-p4-right, div.level-outline-p4-left {
    @include transform(rotate(270deg));
    border: 1px solid $secondary;
    height: 10%;
    width: 4%;
    position: absolute;
    z-index: 10;
  }

  div.level-outline-p4-right {
    bottom: 3%;
    background-color: green;
  }

  div.level-outline-p4-left {
    top: 3%;
    background-color: green;
  }

  div.level-p4 {
    background-color: $background;
    width: 100%;
  }

  #chicken-outline-p4, #mood-outline-p4 {
    left: 7%;
    #chicken-level-p4, #mood-level-p4 {
      height: 0;
    }
  }

  #water-outline-p4, #thermometer-outline-p4 {
    left: 27%;
    #water-level-p4, #thermometer-level-p4 {
      height: 0;
    }
  }

  #energy-outline-p4, #bike-outline-p4 {
    left: 47%;
    #energy-level-p4, #bike-level-p4 {
      height: 0;
    }
  }

  div[class^=level-outline-p] {
    animation-iteration-count: infinite;
    animation-duration: 0.5s;
  }


  div.long-edge {
    width: 49.5%;
    overflow-y: hidden;
    position: relative;

    img.smartphone-picto.picto-p1 {
      left: 50%;
      bottom: 50%;
      @include transform(translate(-50%));
      animation-name: phone-tilt-p1;
    }

    img.smartphone-picto.picto-p2 {
      left: 50%;
      top: 50%;
      @include transform(translate(-50%) rotate(180deg));
      animation-name: phone-tilt-p2;
    }

    img.picto-p2 {
      @include transform(rotate(180deg));
    }

    #chicken-p1, #water-p1, #energy-p1 {
      left: 10%;
    }

    #mood-p2, #thermometer-p2, #bike-p2 {
      right: 10%;
    }

    #mood-p1, #thermometer-p1, #bike-p1 {
      left: 10%;
    }

    #chicken-p2, #water-p2, #energy-p2 {
      left: 10%;
    }

    #chicken-p1, #mood-p1 {
      top: 5%;
    }

    #chicken-p2, #mood-p2 {
      bottom: 5%;
    }

    #water-p1, #thermometer-p1 {
      top: 30%;
    }

    #water-p2, #thermometer-p2 {
      bottom: 30%;
    }

    #energy-p1, #bike-p1 {
      top: 55%;
    }

    #energy-p2, #bike-p2 {
      bottom: 55%;
    }

    div.ration-zone {
      height: 50%;
      width: 35%;
      opacity: 0.5;
      border-radius: 300px;
      margin-right: auto;
      margin-left: auto;
      position: absolute;
      left: 50%;
      @include transform(translateX(-50%));
    }

    div.ration-zone-p1 {
      background-color: $colorP1;
      top: 72%;
    }

    div.ration-zone-p2 {
      background-color: $colorP2;
      bottom: 72%;
    }

  }

  div.short-edge {
    width: 24.5%;
    position: relative;
    overflow: hidden;

    img.picto-p3 {
      @include transform(rotate(90deg));
    }

    img.picto-p4 {
      @include transform(rotate(270deg));
    }

    img.smartphone-picto.picto-p3 {
      top: 50%;
      left: 50%;
      @include transform(translateY(-50%) rotate(90deg));
      animation-name: phone-tilt-p3;
    }

    img.smartphone-picto.picto-p4 {
      top: 50%;
      right: 50%;
      @include transform(translateY(-50%) rotate(270deg));
      animation-name: phone-tilt-p4;
    }

    #chicken-p3, #water-p3, #energy-p3 {
      bottom: 15%;
    }

    #mood-p4, #thermometer-p4, #bike-p4 {
      bottom: 15%;
    }

    #mood-p3, #thermometer-p3, #bike-p3{
      top: 15%;
    }

    #chicken-p4, #water-p4, #energy-p4 {
      top: 15%;
    }

    #chicken-p3, #mood-p3 {
      right: 5%;
    }

    #chicken-p4, #mood-p4 {
      left: 5%;
    }

    #water-p3, #thermometer-p3 {
      right: 25%;
    }

    #water-p4, #thermometer-p4 {
      left: 25%;
    }

    #energy-p3, #bike-p3 {
      right: 45%;
    }

    #energy-p4, #bike-p4 {
      left: 45%;
    }

    div.ration-zone {
      height: 65%;
      width: 27%;
      opacity: 0.5;
      border-radius: 300px;
      margin-right: auto;
      margin-left: auto;
      position: absolute;
    }

    div.ration-zone-p3 {
      background-color: $colorP3;
      top: 50%;
      right: 85%;
      @include transform(translateY(-50%));
    }

    div.ration-zone-p4 {
      background-color: $colorP4;
      top: 50%;
      left: 86%;
      @include transform(translateY(-50%));
    }

  }

  div.center-section {
    width: 49.5%;
    border: 1px solid $secondary;
  }

}

.jumbotron{
  padding:40px 0;
}

.regular-title, .reversed-title {
  width: 100%;
  height: 50%;
}

.reversed-title {
  @include transform(rotate(180deg));
  border-top: 1px solid #cccccc;
}

.start-game{
  width:400px;
  margin: 30vh auto 0 auto;
  text-align: center;
  padding: 20px 20px 10px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.16);

  .title{
    font-size:30px;
  }

  .desc{
    font-size:20px;
  }

  &:active, &:hover {
    cursor: pointer;
    box-shadow: 0 2px 2px  rgba(0,0,0,0.28), 0 3px 1px -2px rgba(0,0,0,0.24), 0 1px 5px 0 rgba(0,0,0,0.16);
    transition: 0.25s box-shadow;
  }

}

.connect{
  margin:0 auto;
  width: 100%;
  height: 100%;
  text-align: center;
  display: none;

  #ready-btn {
    background: transparent url("res/play.svg");
    background-size: 100% 100%;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    animation-name: playanim;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .qr_code {
    position: absolute;
  }

  .connected-block {
    position: absolute;
    width: 150px;
    height: 150px;
    display: none;
    box-shadow: 1px 1px 10px;
  }

  span.player-connected {
    font-weight: bold;
    display: block;
    margin-top: 50%;
    color: white;
    @include transform(translateY(-50%));
  }

  .ready {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
  }

  #connected_1 {
    background-color: $colorP1;
  }

  #connected_2 {
    background-color: $colorP2;
  }

  #connected_3 {
    background-color: $colorP3;
  }

  #connected_4 {
    background-color: $colorP4;
  }

  #qr_1, #connected_1 {
    left: 50%;
    bottom: 5%;
    @include transform(translateX(-50%));
  }

  #qr_2, #connected_2 {
    left: 50%;
    top: 5%;
    @include transform(translateX(-50%) rotate(180deg));
  }

  #qr_3, #connected_3 {
    left: 3%;
    top: 50%;
    @include transform(translateY(-50%) rotate(90deg));
  }

  #qr_4, #connected_4 {
    right: 3%;
    top: 50%;
    @include transform(translateY(-50%) rotate(270deg));
  }

  b[id^=code_] {
    position: absolute;
  }

  #code_1 {
    bottom: 1%;
    left: 50%;
    @include transform(translateX(-50%));
  }

  #code_2 {
    @include transform(translateX(-50%) rotate(180deg));
    left: 50%;
    top: 0;
  }

  #code_3 {
    @include transform(translateY(-50%) rotate(90deg));
    left: 0;
    top: 50%;
  }

  #code_4 {
    @include transform(translateY(-50%) rotate(270deg));
    right: 0;
    top: 50%;
  }

  .title{
    font-size:20px;
    margin-bottom: 50px;
  }

  .codes{
    text-align: center;


  }

  table{
    width:100%;
  }


}


@keyframes playanim {
  from {@include transform(rotate(0deg))}
  to {@include transform(rotate(360deg))}
}

@keyframes substract {
  from {background-color: white;}
  to {background-color: red;}
}

@keyframes jaugeblinkred {
  from {box-shadow: 0 0 10px 0 red;opacity:0}
  to {box-shadow: 0 0 10px 5px red;opacity:0.8}
}

@keyframes jaugeblinkgreen {
  from {box-shadow: 0 0 10px 0 green;opacity:0}
  to {box-shadow: 0 0 10px 5px green;opacity:0.8}
}

@keyframes scale-center {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scale-vertical {
  from {height: 0;}
  to {height: 150px;}
}

@keyframes phone-tilt-p1 {
  from {@include transform(translate(-50%) rotateX(0));}
  to {@include transform(translate(-50%) rotateX(-40deg));}
}

@keyframes phone-tilt-p2 {
  from {@include transform(translate(-50%) rotate(180deg) rotateX(0));}
  to {@include transform(translate(-50%) rotate(180deg) rotateX(-40deg));}
}

@keyframes phone-tilt-p3 {
  from {@include transform(translateY(-50%) rotate(90deg) rotateX(0));}
  to {@include transform(translateY(-50%) rotate(90deg) rotateX(-40deg));}
}

@keyframes phone-tilt-p4 {
  from {@include transform(translateY(-50%) rotate(270deg) rotateX(0));}
  to {@include transform(translateY(-50%) rotate(270deg) rotateX(-40deg));}
}
