
$colorP1: #a22b28;
$colorp2: #393bb5;
$colorp3: #007207;
$colorP4: #b8b918;

$background: #fff;
$secondary: #000;

img, div {
  user-select: none;
  user-drag: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

div {
  box-sizing: content-box;
}

@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  -moz-transform: $property;
  transform: $property;
}

div.main-container-board {
  height: 100%;
  width: 100%;
  display: none;
  margin-right: auto;
  margin-left: auto;

  div.section {
    width: 100%;
    position: absolute;
    left: 0;
  }

  div.first-section {
    top: 0;
    height: 25%;
  }

  div.second-section {
    top: 25%;
    height: 49.5%;
  }

  div.third-section {
    top: 74.5%;
    height: 25%;
  }

  div.inner-section {
    display: inline-block;
    height: 100%;
  }

  div.corner-section {
    width: 24.5%;
  }

  img.picto {
    position: absolute;
  }




  div.level-outline-p1-right, div.level-outline-p1-left {
    border: 1px solid $secondary;
    height: 20%;
    width: 2%;
    position: absolute;
    z-index: 10;
  }

  div.level-outline-p1-right {
    right: 3%;
    background-color: green;
  }

  div.level-outline-p1-left {
    left: 3%;
    background-color: green;
  }

  div.level-p1 {
    background-color: $background;
    width: 100%;
  }

  #chicken-outline-p1, #mood-outline-p1 {
    top: 5%;
    #chicken-level-p1, #mood-level-p1 {
      height: 0;
    }
  }

  #water-outline-p1, #thermometer-outline-p1 {
    top: 30%;
    #water-level-p1, #thermometer-level-p1 {
      height: 0;
    }
  }

  #energy-outline-p1, #bike-outline-p1 {
    top: 55%;
    #energy-level-p1, #bike-level-p1 {
      height: 0;
    }
  }




  div.level-outline-p3-right, div.level-outline-p3-left {
    @include transform(rotate(90deg));
    border: 1px solid $secondary;
    height: 10%;
    width: 4%;
    position: absolute;
    z-index: 10;
  }

  div.level-outline-p3-right {
    bottom: 3%;
    background-color: green;
  }

  div.level-outline-p3-left {
    top: 3%;
    background-color: green;
  }

  div.level-p3 {
    background-color: $background;
    width: 100%;
  }

  #chicken-outline-p3, #mood-outline-p3 {
    right: 7%;
    #chicken-level-p3, #mood-level-p3 {
      height: 0;
    }
  }

  #water-outline-p3, #thermometer-outline-p3 {
    right: 27%;
    #water-level-p3, #thermometer-level-p3 {
      height: 0;
    }
  }

  #energy-outline-p3, #bike-outline-p3 {
    right: 47%;
    #energy-level-p3, #bike-level-p3 {
      height: 0;
    }
  }



  div.level-outline-p2-right, div.level-outline-p2-left {
    @include transform(rotate(180deg));
    border: 1px solid $secondary;
    height: 20%;
    width: 2%;
    position: absolute;
    z-index: 10;
  }

  div.level-outline-p2-right {
    right: 3%;
    background-color: green;
  }

  div.level-outline-p2-left {
    left: 3%;
    background-color: green;
  }

  div.level-p2 {
    background-color: $background;
    width: 100%;
  }

  #chicken-outline-p2, #mood-outline-p2 {
    bottom: 5%;
    #chicken-level-p2, #mood-level-p2 {
      height: 0;
    }
  }

  #water-outline-p2, #thermometer-outline-p2 {
    bottom: 30%;
    #water-level-p2, #thermometer-level-p2 {
      height: 0;
    }
  }

  #energy-outline-p2, #bike-outline-p2 {
    bottom: 55%;
    #energy-level-p2, #bike-level-p2 {
      height: 0;
    }
  }




  div.level-outline-p4-right, div.level-outline-p4-left {
    @include transform(rotate(270deg));
    border: 1px solid $secondary;
    height: 10%;
    width: 4%;
    position: absolute;
    z-index: 10;
  }

  div.level-outline-p4-right {
    bottom: 3%;
    background-color: green;
  }

  div.level-outline-p4-left {
    top: 3%;
    background-color: green;
  }

  div.level-p4 {
    background-color: $background;
    width: 100%;
  }

  #chicken-outline-p4, #mood-outline-p4 {
    left: 7%;
    #chicken-level-p4, #mood-level-p4 {
      height: 0;
    }
  }

  #water-outline-p4, #thermometer-outline-p4 {
    left: 27%;
    #water-level-p4, #thermometer-level-p4 {
      height: 0;
    }
  }

  #energy-outline-p4, #bike-outline-p4 {
    left: 47%;
    #energy-level-p4, #bike-level-p4 {
      height: 0;
    }
  }



  div.long-edge {
    width: 49.5%;
    overflow-y: hidden;
    position: relative;

    img.picto-p2 {
      @include transform(rotate(180deg));
    }

    #chicken-p1, #water-p1, #energy-p1 {
      right: 10%;
    }

    #mood-p2, #thermometer-p2, #bike-p2 {
      right: 10%;
    }

    #mood-p1, #thermometer-p1, #bike-p1 {
      left: 10%;
    }

    #chicken-p2, #water-p2, #energy-p2 {
      left: 10%;
    }

    #chicken-p1, #mood-p1 {
      top: 5%;
    }

    #chicken-p2, #mood-p2 {
      bottom: 5%;
    }

    #water-p1, #thermometer-p1 {
      top: 30%;
    }

    #water-p2, #thermometer-p2 {
      bottom: 30%;
    }

    #energy-p1, #bike-p1 {
      top: 55%;
    }

    #energy-p2, #bike-p2 {
      bottom: 55%;
    }

    div.ration-zone {
      height: 50%;
      width: 35%;
      opacity: 0.5;
      border-radius: 300px;
      margin-right: auto;
      margin-left: auto;
      position: absolute;
      left: 50%;
      @include transform(translateX(-50%));
    }

    div.ration-zone-p1 {
      background-color: $colorP1;
      top: 72%;
    }

    div.ration-zone-p2 {
      background-color: $colorp2;
      bottom: 72%;
    }

  }

  div.short-edge {
    width: 24.5%;
    position: relative;
    overflow: hidden;

    img.picto-p3 {
      @include transform(rotate(90deg));
    }

    img.picto-p4 {
      @include transform(rotate(270deg));
    }

    #chicken-p3, #water-p3, #energy-p3 {
      bottom: 15%;
    }

    #mood-p4, #thermometer-p4, #bike-p4 {
      bottom: 15%;
    }

    #mood-p3, #thermometer-p3, #bike-p3{
      top: 15%;
    }

    #chicken-p4, #water-p4, #energy-p4 {
      top: 15%;
    }

    #chicken-p3, #mood-p3 {
      right: 5%;
    }

    #chicken-p4, #mood-p4 {
      left: 5%;
    }

    #water-p3, #thermometer-p3 {
      right: 25%;
    }

    #water-p4, #thermometer-p4 {
      left: 25%;
    }

    #energy-p3, #bike-p3 {
      right: 45%;
    }

    #energy-p4, #bike-p4 {
      left: 45%;
    }

    div.ration-zone {
      height: 65%;
      width: 27%;
      opacity: 0.5;
      border-radius: 300px;
      margin-right: auto;
      margin-left: auto;
      position: absolute;
    }

    div.ration-zone-p3 {
      background-color: $colorp3;
      top: 50%;
      right: 85%;
      @include transform(translateY(-50%));
    }

    div.ration-zone-p4 {
      background-color: $colorP4;
      top: 50%;
      left: 86%;
      @include transform(translateY(-50%));
    }

  }

  div.center-section {
    width: 49.5%;
    border: 1px solid $secondary;
  }

}

.jumbotron{
  padding:40px 0;
}


.start-game{
  margin:0 auto;
  margin-top:100px;
  width:400px;
  text-align: center;
  padding: 20px 20px 10px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.16);

  .title{
    font-size:30px;
  }

  .desc{
    font-size:20px;
  }

  &:active, &:hover {
    cursor: pointer;
    box-shadow: 0 2px 2px  rgba(0,0,0,0.28), 0 3px 1px -2px rgba(0,0,0,0.24), 0 1px 5px 0 rgba(0,0,0,0.16);
    transition: 0.25s box-shadow;
  }

}


.connect{
  margin:0 auto;
  width:600px;
  text-align: center;
  display: none;

  .title{
    font-size:20px;
    margin-bottom: 50px;
  }

  .codes{
    text-align: center;


  }

  table{
    width:100%;
  }


}

#fab{
  position: absolute;
  top: 20px;
  left: 20px;
  width:300px;
  height:70px;
  background-color: #32db64;
  text-align: center;
  line-height: 70px;
  border-radius:20px;
  font-size:20px;
  border:3px solid #222222;
}
