img, div {
  user-select: none;
  user-drag: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none; }

body {
  overflow-y: hidden; }

div {
  box-sizing: content-box; }

#map {
  left: 0; }

.puzzlewesh {
  color: red; }

div.main-container-board {
  height: 100%;
  width: 100%;
  display: none;
  margin-right: auto;
  margin-left: auto; }
  div.main-container-board canvas[id^=jean-p], div.main-container-board canvas[id^=bike-p] {
    display: none;
    position: absolute;
    border: 1px solid; }
  div.main-container-board #jean-p2 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg); }
  div.main-container-board #jean-p3 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg); }
  div.main-container-board #jean-p4 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    transform: rotate(270deg); }
  div.main-container-board div.section {
    width: 100%;
    position: absolute;
    left: 0; }
  div.main-container-board div.first-section {
    top: 0;
    height: 25%; }
  div.main-container-board div.second-section {
    top: 25%;
    height: 49.5%; }
  div.main-container-board div.third-section {
    top: 74.5%;
    height: 25%; }
  div.main-container-board div.inner-section {
    display: inline-block;
    height: 100%; }
  div.main-container-board div.corner-section {
    width: 24.5%; }
  div.main-container-board img.picto {
    position: absolute; }
  div.main-container-board div.level-outline-p1-right, div.main-container-board div.level-outline-p1-left {
    border: 1px solid #000;
    height: 20%;
    width: 2%;
    position: absolute;
    z-index: 10; }
  div.main-container-board div.level-outline-p1-right {
    right: 3%;
    background-color: green; }
  div.main-container-board div.level-outline-p1-left {
    left: 3%;
    background-color: green; }
  div.main-container-board div.level-p1 {
    background-color: #fff;
    width: 100%; }
  div.main-container-board #chicken-outline-p1, div.main-container-board #mood-outline-p1 {
    top: 5%; }
    div.main-container-board #chicken-outline-p1 #chicken-level-p1, div.main-container-board #chicken-outline-p1 #mood-level-p1, div.main-container-board #mood-outline-p1 #chicken-level-p1, div.main-container-board #mood-outline-p1 #mood-level-p1 {
      height: 0; }
  div.main-container-board #water-outline-p1, div.main-container-board #thermometer-outline-p1 {
    top: 30%; }
    div.main-container-board #water-outline-p1 #water-level-p1, div.main-container-board #water-outline-p1 #thermometer-level-p1, div.main-container-board #thermometer-outline-p1 #water-level-p1, div.main-container-board #thermometer-outline-p1 #thermometer-level-p1 {
      height: 0; }
  div.main-container-board #energy-outline-p1, div.main-container-board #bike-outline-p1 {
    top: 55%; }
    div.main-container-board #energy-outline-p1 #energy-level-p1, div.main-container-board #energy-outline-p1 #bike-level-p1, div.main-container-board #bike-outline-p1 #energy-level-p1, div.main-container-board #bike-outline-p1 #bike-level-p1 {
      height: 0; }
  div.main-container-board div.level-outline-p3-right, div.main-container-board div.level-outline-p3-left {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
    border: 1px solid #000;
    height: 10%;
    width: 4%;
    position: absolute;
    z-index: 10; }
  div.main-container-board div.level-outline-p3-right {
    bottom: 3%;
    background-color: green; }
  div.main-container-board div.level-outline-p3-left {
    top: 3%;
    background-color: green; }
  div.main-container-board div.level-p3 {
    background-color: #fff;
    width: 100%; }
  div.main-container-board #chicken-outline-p3, div.main-container-board #mood-outline-p3 {
    right: 7%; }
    div.main-container-board #chicken-outline-p3 #chicken-level-p3, div.main-container-board #chicken-outline-p3 #mood-level-p3, div.main-container-board #mood-outline-p3 #chicken-level-p3, div.main-container-board #mood-outline-p3 #mood-level-p3 {
      height: 0; }
  div.main-container-board #water-outline-p3, div.main-container-board #thermometer-outline-p3 {
    right: 27%; }
    div.main-container-board #water-outline-p3 #water-level-p3, div.main-container-board #water-outline-p3 #thermometer-level-p3, div.main-container-board #thermometer-outline-p3 #water-level-p3, div.main-container-board #thermometer-outline-p3 #thermometer-level-p3 {
      height: 0; }
  div.main-container-board #energy-outline-p3, div.main-container-board #bike-outline-p3 {
    right: 47%; }
    div.main-container-board #energy-outline-p3 #energy-level-p3, div.main-container-board #energy-outline-p3 #bike-level-p3, div.main-container-board #bike-outline-p3 #energy-level-p3, div.main-container-board #bike-outline-p3 #bike-level-p3 {
      height: 0; }
  div.main-container-board div.level-outline-p2-right, div.main-container-board div.level-outline-p2-left {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
    border: 1px solid #000;
    height: 20%;
    width: 2%;
    position: absolute;
    z-index: 10; }
  div.main-container-board div.level-outline-p2-right {
    right: 3%;
    background-color: green; }
  div.main-container-board div.level-outline-p2-left {
    left: 3%;
    background-color: green; }
  div.main-container-board div.level-p2 {
    background-color: #fff;
    width: 100%; }
  div.main-container-board div.substract-level {
    position: absolute;
    background-color: white;
    width: 100%;
    animation-name: substract;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    height: 0; }
  div.main-container-board div[id^=substract-] {
    position: absolute;
    border: none;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-color: red;
    opacity: 0; }
  div.main-container-board #chicken-outline-p2, div.main-container-board #mood-outline-p2 {
    bottom: 5%; }
    div.main-container-board #chicken-outline-p2 #chicken-level-p2, div.main-container-board #chicken-outline-p2 #mood-level-p2, div.main-container-board #mood-outline-p2 #chicken-level-p2, div.main-container-board #mood-outline-p2 #mood-level-p2 {
      height: 0; }
  div.main-container-board #water-outline-p2, div.main-container-board #thermometer-outline-p2 {
    bottom: 30%; }
    div.main-container-board #water-outline-p2 #water-level-p2, div.main-container-board #water-outline-p2 #thermometer-level-p2, div.main-container-board #thermometer-outline-p2 #water-level-p2, div.main-container-board #thermometer-outline-p2 #thermometer-level-p2 {
      height: 0; }
  div.main-container-board #energy-outline-p2, div.main-container-board #bike-outline-p2 {
    bottom: 55%; }
    div.main-container-board #energy-outline-p2 #energy-level-p2, div.main-container-board #energy-outline-p2 #bike-level-p2, div.main-container-board #bike-outline-p2 #energy-level-p2, div.main-container-board #bike-outline-p2 #bike-level-p2 {
      height: 0; }
  div.main-container-board img.smartphone-picto {
    animation-duration: 1s;
    animation-iteration-count: infinite;
    display: none; }
  div.main-container-board div.level-outline-p4-right, div.main-container-board div.level-outline-p4-left {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    transform: rotate(270deg);
    border: 1px solid #000;
    height: 10%;
    width: 4%;
    position: absolute;
    z-index: 10; }
  div.main-container-board div.level-outline-p4-right {
    bottom: 3%;
    background-color: green; }
  div.main-container-board div.level-outline-p4-left {
    top: 3%;
    background-color: green; }
  div.main-container-board div.level-p4 {
    background-color: #fff;
    width: 100%; }
  div.main-container-board #chicken-outline-p4, div.main-container-board #mood-outline-p4 {
    left: 7%; }
    div.main-container-board #chicken-outline-p4 #chicken-level-p4, div.main-container-board #chicken-outline-p4 #mood-level-p4, div.main-container-board #mood-outline-p4 #chicken-level-p4, div.main-container-board #mood-outline-p4 #mood-level-p4 {
      height: 0; }
  div.main-container-board #water-outline-p4, div.main-container-board #thermometer-outline-p4 {
    left: 27%; }
    div.main-container-board #water-outline-p4 #water-level-p4, div.main-container-board #water-outline-p4 #thermometer-level-p4, div.main-container-board #thermometer-outline-p4 #water-level-p4, div.main-container-board #thermometer-outline-p4 #thermometer-level-p4 {
      height: 0; }
  div.main-container-board #energy-outline-p4, div.main-container-board #bike-outline-p4 {
    left: 47%; }
    div.main-container-board #energy-outline-p4 #energy-level-p4, div.main-container-board #energy-outline-p4 #bike-level-p4, div.main-container-board #bike-outline-p4 #energy-level-p4, div.main-container-board #bike-outline-p4 #bike-level-p4 {
      height: 0; }
  div.main-container-board div[class^=level-outline-p] {
    animation-iteration-count: infinite;
    animation-duration: 0.5s; }
  div.main-container-board div.long-edge {
    width: 49.5%;
    overflow-y: hidden;
    position: relative; }
    div.main-container-board div.long-edge img.smartphone-picto.picto-p1 {
      left: 50%;
      bottom: 50%;
      -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
      -moz-transform: translate(-50%);
      transform: translate(-50%);
      animation-name: phone-tilt-p1; }
    div.main-container-board div.long-edge img.smartphone-picto.picto-p2 {
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%) rotate(180deg);
      -ms-transform: translate(-50%) rotate(180deg);
      -moz-transform: translate(-50%) rotate(180deg);
      transform: translate(-50%) rotate(180deg);
      animation-name: phone-tilt-p2; }
    div.main-container-board div.long-edge img.picto-p2 {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      transform: rotate(180deg); }
    div.main-container-board div.long-edge #chicken-p1, div.main-container-board div.long-edge #water-p1, div.main-container-board div.long-edge #energy-p1 {
      left: 10%; }
    div.main-container-board div.long-edge #mood-p2, div.main-container-board div.long-edge #thermometer-p2, div.main-container-board div.long-edge #bike-p2 {
      right: 10%; }
    div.main-container-board div.long-edge #mood-p1, div.main-container-board div.long-edge #thermometer-p1, div.main-container-board div.long-edge #bike-p1 {
      left: 10%; }
    div.main-container-board div.long-edge #chicken-p2, div.main-container-board div.long-edge #water-p2, div.main-container-board div.long-edge #energy-p2 {
      left: 10%; }
    div.main-container-board div.long-edge #chicken-p1, div.main-container-board div.long-edge #mood-p1 {
      top: 5%; }
    div.main-container-board div.long-edge #chicken-p2, div.main-container-board div.long-edge #mood-p2 {
      bottom: 5%; }
    div.main-container-board div.long-edge #water-p1, div.main-container-board div.long-edge #thermometer-p1 {
      top: 30%; }
    div.main-container-board div.long-edge #water-p2, div.main-container-board div.long-edge #thermometer-p2 {
      bottom: 30%; }
    div.main-container-board div.long-edge #energy-p1, div.main-container-board div.long-edge #bike-p1 {
      top: 55%; }
    div.main-container-board div.long-edge #energy-p2, div.main-container-board div.long-edge #bike-p2 {
      bottom: 55%; }
    div.main-container-board div.long-edge div.ration-zone {
      height: 50%;
      width: 35%;
      opacity: 0.5;
      border-radius: 300px;
      margin-right: auto;
      margin-left: auto;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      transform: translateX(-50%); }
    div.main-container-board div.long-edge div.ration-zone-p1 {
      background-color: #a22b28;
      top: 72%; }
    div.main-container-board div.long-edge div.ration-zone-p2 {
      background-color: #393bb5;
      bottom: 72%; }
  div.main-container-board div.short-edge {
    width: 24.5%;
    position: relative;
    overflow: hidden; }
    div.main-container-board div.short-edge img.picto-p3 {
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      transform: rotate(90deg); }
    div.main-container-board div.short-edge img.picto-p4 {
      -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      -moz-transform: rotate(270deg);
      transform: rotate(270deg); }
    div.main-container-board div.short-edge img.smartphone-picto.picto-p3 {
      top: 50%;
      left: 50%;
      -webkit-transform: translateY(-50%) rotate(90deg);
      -ms-transform: translateY(-50%) rotate(90deg);
      -moz-transform: translateY(-50%) rotate(90deg);
      transform: translateY(-50%) rotate(90deg);
      animation-name: phone-tilt-p3; }
    div.main-container-board div.short-edge img.smartphone-picto.picto-p4 {
      top: 50%;
      right: 50%;
      -webkit-transform: translateY(-50%) rotate(270deg);
      -ms-transform: translateY(-50%) rotate(270deg);
      -moz-transform: translateY(-50%) rotate(270deg);
      transform: translateY(-50%) rotate(270deg);
      animation-name: phone-tilt-p4; }
    div.main-container-board div.short-edge #chicken-p3, div.main-container-board div.short-edge #water-p3, div.main-container-board div.short-edge #energy-p3 {
      bottom: 15%; }
    div.main-container-board div.short-edge #mood-p4, div.main-container-board div.short-edge #thermometer-p4, div.main-container-board div.short-edge #bike-p4 {
      bottom: 15%; }
    div.main-container-board div.short-edge #mood-p3, div.main-container-board div.short-edge #thermometer-p3, div.main-container-board div.short-edge #bike-p3 {
      top: 15%; }
    div.main-container-board div.short-edge #chicken-p4, div.main-container-board div.short-edge #water-p4, div.main-container-board div.short-edge #energy-p4 {
      top: 15%; }
    div.main-container-board div.short-edge #chicken-p3, div.main-container-board div.short-edge #mood-p3 {
      right: 5%; }
    div.main-container-board div.short-edge #chicken-p4, div.main-container-board div.short-edge #mood-p4 {
      left: 5%; }
    div.main-container-board div.short-edge #water-p3, div.main-container-board div.short-edge #thermometer-p3 {
      right: 25%; }
    div.main-container-board div.short-edge #water-p4, div.main-container-board div.short-edge #thermometer-p4 {
      left: 25%; }
    div.main-container-board div.short-edge #energy-p3, div.main-container-board div.short-edge #bike-p3 {
      right: 45%; }
    div.main-container-board div.short-edge #energy-p4, div.main-container-board div.short-edge #bike-p4 {
      left: 45%; }
    div.main-container-board div.short-edge div.ration-zone {
      height: 65%;
      width: 27%;
      opacity: 0.5;
      border-radius: 300px;
      margin-right: auto;
      margin-left: auto;
      position: absolute; }
    div.main-container-board div.short-edge div.ration-zone-p3 {
      background-color: #007207;
      top: 50%;
      right: 85%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      transform: translateY(-50%); }
    div.main-container-board div.short-edge div.ration-zone-p4 {
      background-color: #b8b918;
      top: 50%;
      left: 86%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      transform: translateY(-50%); }
  div.main-container-board div.center-section {
    width: 49.5%;
    border: 1px solid #000; }

.jumbotron {
  padding: 40px 0; }

.regular-title, .reversed-title {
  width: 100%;
  height: 50%; }

.reversed-title {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  border-top: 1px solid #cccccc; }

.start-game {
  width: 400px;
  margin: 30vh auto 0 auto;
  text-align: center;
  padding: 20px 20px 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.16); }
  .start-game .title {
    font-size: 30px; }
  .start-game .desc {
    font-size: 20px; }
  .start-game:active, .start-game:hover {
    cursor: pointer;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.28), 0 3px 1px -2px rgba(0, 0, 0, 0.24), 0 1px 5px 0 rgba(0, 0, 0, 0.16);
    transition: 0.25s box-shadow; }

.connect {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  text-align: center;
  display: none; }
  .connect #ready-btn {
    background: transparent url("res/play.svg");
    background-size: 100% 100%;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    animation-name: playanim;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; }
  .connect .qr_code {
    position: absolute; }
  .connect .connected-block {
    position: absolute;
    width: 150px;
    height: 150px;
    display: none;
    box-shadow: 1px 1px 10px; }
  .connect span.player-connected {
    font-weight: bold;
    display: block;
    margin-top: 50%;
    color: white;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%); }
  .connect .ready {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .connect #connected_1 {
    background-color: #a22b28; }
  .connect #connected_2 {
    background-color: #393bb5; }
  .connect #connected_3 {
    background-color: #007207; }
  .connect #connected_4 {
    background-color: #b8b918; }
  .connect #qr_1, .connect #connected_1 {
    left: 50%;
    bottom: 5%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%); }
  .connect #qr_2, .connect #connected_2 {
    left: 50%;
    top: 5%;
    -webkit-transform: translateX(-50%) rotate(180deg);
    -ms-transform: translateX(-50%) rotate(180deg);
    -moz-transform: translateX(-50%) rotate(180deg);
    transform: translateX(-50%) rotate(180deg); }
  .connect #qr_3, .connect #connected_3 {
    left: 3%;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) rotate(90deg);
    -moz-transform: translateY(-50%) rotate(90deg);
    transform: translateY(-50%) rotate(90deg); }
  .connect #qr_4, .connect #connected_4 {
    right: 3%;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(270deg);
    -ms-transform: translateY(-50%) rotate(270deg);
    -moz-transform: translateY(-50%) rotate(270deg);
    transform: translateY(-50%) rotate(270deg); }
  .connect b[id^=code_] {
    position: absolute; }
  .connect #code_1 {
    bottom: 1%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%); }
  .connect #code_2 {
    -webkit-transform: translateX(-50%) rotate(180deg);
    -ms-transform: translateX(-50%) rotate(180deg);
    -moz-transform: translateX(-50%) rotate(180deg);
    transform: translateX(-50%) rotate(180deg);
    left: 50%;
    top: 0; }
  .connect #code_3 {
    -webkit-transform: translateY(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) rotate(90deg);
    -moz-transform: translateY(-50%) rotate(90deg);
    transform: translateY(-50%) rotate(90deg);
    left: 0;
    top: 50%; }
  .connect #code_4 {
    -webkit-transform: translateY(-50%) rotate(270deg);
    -ms-transform: translateY(-50%) rotate(270deg);
    -moz-transform: translateY(-50%) rotate(270deg);
    transform: translateY(-50%) rotate(270deg);
    right: 0;
    top: 50%; }
  .connect .title {
    font-size: 20px;
    margin-bottom: 50px; }
  .connect .codes {
    text-align: center; }
  .connect table {
    width: 100%; }

@keyframes playanim {
  from {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes substract {
  from {
    background-color: white; }
  to {
    background-color: red; } }
@keyframes jaugeblinkred {
  from {
    box-shadow: 0 0 10px 0 red;
    opacity: 0; }
  to {
    box-shadow: 0 0 10px 5px red;
    opacity: 0.8; } }
@keyframes jaugeblinkgreen {
  from {
    box-shadow: 0 0 10px 0 green;
    opacity: 0; }
  to {
    box-shadow: 0 0 10px 5px green;
    opacity: 0.8; } }
@keyframes scale-center {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
@keyframes scale-vertical {
  from {
    height: 0; }
  to {
    height: 150px; } }
@keyframes phone-tilt-p1 {
  from {
    -webkit-transform: translate(-50%) rotateX(0);
    -ms-transform: translate(-50%) rotateX(0);
    -moz-transform: translate(-50%) rotateX(0);
    transform: translate(-50%) rotateX(0); }
  to {
    -webkit-transform: translate(-50%) rotateX(-40deg);
    -ms-transform: translate(-50%) rotateX(-40deg);
    -moz-transform: translate(-50%) rotateX(-40deg);
    transform: translate(-50%) rotateX(-40deg); } }
@keyframes phone-tilt-p2 {
  from {
    -webkit-transform: translate(-50%) rotate(180deg) rotateX(0);
    -ms-transform: translate(-50%) rotate(180deg) rotateX(0);
    -moz-transform: translate(-50%) rotate(180deg) rotateX(0);
    transform: translate(-50%) rotate(180deg) rotateX(0); }
  to {
    -webkit-transform: translate(-50%) rotate(180deg) rotateX(-40deg);
    -ms-transform: translate(-50%) rotate(180deg) rotateX(-40deg);
    -moz-transform: translate(-50%) rotate(180deg) rotateX(-40deg);
    transform: translate(-50%) rotate(180deg) rotateX(-40deg); } }
@keyframes phone-tilt-p3 {
  from {
    -webkit-transform: translateY(-50%) rotate(90deg) rotateX(0);
    -ms-transform: translateY(-50%) rotate(90deg) rotateX(0);
    -moz-transform: translateY(-50%) rotate(90deg) rotateX(0);
    transform: translateY(-50%) rotate(90deg) rotateX(0); }
  to {
    -webkit-transform: translateY(-50%) rotate(90deg) rotateX(-40deg);
    -ms-transform: translateY(-50%) rotate(90deg) rotateX(-40deg);
    -moz-transform: translateY(-50%) rotate(90deg) rotateX(-40deg);
    transform: translateY(-50%) rotate(90deg) rotateX(-40deg); } }
@keyframes phone-tilt-p4 {
  from {
    -webkit-transform: translateY(-50%) rotate(270deg) rotateX(0);
    -ms-transform: translateY(-50%) rotate(270deg) rotateX(0);
    -moz-transform: translateY(-50%) rotate(270deg) rotateX(0);
    transform: translateY(-50%) rotate(270deg) rotateX(0); }
  to {
    -webkit-transform: translateY(-50%) rotate(270deg) rotateX(-40deg);
    -ms-transform: translateY(-50%) rotate(270deg) rotateX(-40deg);
    -moz-transform: translateY(-50%) rotate(270deg) rotateX(-40deg);
    transform: translateY(-50%) rotate(270deg) rotateX(-40deg); } }

/*# sourceMappingURL=style.css.map */
