
.own {
  .list {
    margin: 0 10px;
    width: auto;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    height: fit-content;
    padding: 12px;
  }

  ion-card {
    padding-bottom: unset !important;
  }


  .empty {
    padding: 15px;
    line-height: 100px;
    color: #4d4d4d;

    p {
      font-size: 16px;
      padding-top: 5px;
      font-weight: 500;
    }
  }

  .item {
    margin: 2px 5px;
    display: inline-block;
    width: 60%;

    img {
      height: auto;

    }
  }
}

.list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.list::-webkit-scrollbar {
  width: 5px;
  height: 7px;
  background-color: #F5F5F5;
}

.list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #488aff;
}


.puzzle {

  .parent {
    display: flex;
    flex-wrap: wrap;
  }

  .child {
    flex: 1 0 31%; /* explanation below */
    margin: 0px 2px;
    flex-grow: 1;

    flex-direction: column;
  }
}

.selected {
  img {
    border: 5px solid #488aff;
    border-radius: 3px;
  }
}


.img-slider {
  margin: 10px;
}

.empty {
}


.slide-in-fwd-center {
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-fwd-center {
  0% {
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

.answer-true img {
  border: 3px solid #16af2d;
  animation: blink-1 0.6s both;
}

.answer-false img {
  border: 3px solid #ff3f48;
  animation: blink-1 0.6s both;
}

@keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

.vibrate {
  animation: vibrate 0.3s linear infinite both;
}

@keyframes vibrate {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-1px, 1px);
  }
  40% {
    transform: translate(-1px, -1px);
  }
  60% {
    transform: translate(1px, 1px);
  }
  80% {
    transform: translate(1px, -1px);
  }
  100% {
    transform: translate(0);
  }
}


.result {

  .text {
    text-align: center;

    h3 {
      font-weight: 500;
      padding-bottom: unset;
      margin-top:15px;
    }

    .p {
      padding: 5px;
      font-size: 17px;
    }

    .desc {
      font-size: 15px;
      color: #6d6d6d;

    }

    img {
      width: 90%
    }
  }
}

.puff-in-center {
  -webkit-animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
  animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(2px);
    filter: blur(2px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(2px);
    filter: blur(2px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}