<!--
  Generated template for the InventoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Album photo</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>


    <div class="own" text-center>

            <div class="img-slider">
                <p>Vous avez {{ownedPieces.length}} image{{ownedPieces.length === 1 ? '' : 's'}}</p>
                <ion-card class="list">
                    <div class='empty' *ngIf="ownedPieces.length === 0">
                        <i>Parcourez l'aventure pour découvrir des images</i>
                    </div>
                    <div class="item slide-in-fwd-center" *ngFor="let o of ownedPieces.reverse()"
                         [ngClass]="{selected : selectedPiece ? selectedPiece.picture === o.picture : false}"
                         (click)="selectPiece(o)">
                        <img [src]="'../../assets/imgs/puzzle1/'+o['picture']"/>
                    </div>
                </ion-card>
            </div>
    </div>


    <div text-center>
        <button ion-button (click)="askForImage()">GET AN IMAGE</button>
    </div>


    <hr>

    <div text-center>
        <button ion-button (click)="getPuzzle()">SHOW PUZZLE TO ALL</button>
    </div>


    <div class="puzzle" *ngIf="showPuzzle">
        <p padding text-center>
            Choisissez un bout de photo de votre inventaire, puis insérez le dans le puzzle en touchant la case ciblée.
        </p>
        <div class="parent">
            <div class="child" *ngFor="let p of puzzle;let i = index" [id]="'piece'+i"
                 (click)="pickTarget(p,i)">

                <img class="slide-in-fwd-center" *ngIf="p.shown" [src]="'../../assets/imgs/puzzle1/'+p['picture']"/>

                <img class="slide-in-fwd-center" *ngIf="!p.shown && !targetsOn"
                     src="../../assets/imgs/puzzle1/hidden.jpg"/>

                <img class="slide-in-fwd-center vibrate" *ngIf="!p.shown && targetsOn"
                     src="../../assets/imgs/puzzle1/try.jpg"/>


                <!--
                <div class="found blk" *ngIf="p.shown">
                    <img [src]="'../../assets/imgs/puzzle1/'+p['picture']"/>
                </div>

                <div class="not-found" *ngIf="!p.shown">
                    <ion-icon name="help"></ion-icon>
                </div>
                -->
            </div>
        </div>

    </div>


</ion-content>
